@font-face {
    font-family: 'bookmaniaregular';
    src: url('fonts/bookmania_regular-webfont.woff2') format('woff2'),
         url('fonts/bookmania_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniasemibold_italic';
    src: url('fonts/bookmania_semibold_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniasemibold';
    src: url('fonts/bookmania_semibold-webfont.woff2') format('woff2'),
         url('fonts/bookmania_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniaitalic';
    src: url('fonts/bookmania_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #B6CDD8;
    color: #FFFFFF;
}

p {
    font-family: 'bookmaniaregular';
    font-size: 24px;
    cursor: default;
    width: 40%;
    line-height: 120%;
    margin: 400px auto 50px auto;
    
}

@media screen and (max-width: 800px) {
    p{
        font-size: 12px;
        margin: 20% auto 50px auto;
        width: 70%
    }
   

}