@font-face {
    font-family: 'bookmania';
    src: url('fonts/bookmania_regular-webfont.woff2') format('woff2'),
         url('fonts/bookmania_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'bookmania';
    src: url('fonts/bookmania_semibold_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_semibold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'bookmania';
    src: url('fonts/bookmania_semibold-webfont.woff2') format('woff2'),
         url('fonts/bookmania_semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'bookmania';
    src: url('fonts/bookmania_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

html {
    font-family: 'bookmania', 'Times New Roman', Times, serif;
}

body {
    background-color: #B6CDD8;
    color: #FFFFFF;
}

table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    margin: 4em 0;
    font-size: 24px;
    color: #2b2b2b;
}

th {
    font-size: 50px;
    line-height: 100%;
    font-weight: 600;
    color: #fff;
    padding-bottom: 1em;
}

h1 {
    font-family: 'bookmaniasemibold', 'Times New Roman', Times, serif;
    font-size: 100px;
    line-height: 93.5%;
    cursor: default;
    text-align: center;
    width: 800px;
    display: flex;
    margin: 200px auto 50px auto;
}

h2 {
    font-family: 'bookmaniasemibold_italic', 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 100%;
    cursor: default;
    width: 250px;
    position: absolute;
    top: 11px;
    left: 30px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #9ab1bd;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.days {
    display: inline-block;
    padding-left: 10px;
}

p {
    font-family: 'bookmaniaregular';
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    cursor: default;
}

.instructions {
    font-family: 'bookmaniaitalic';
    font-size: 18px;
    display: block;
    margin: 50px auto 0px auto;
}

.input-container {
    text-decoration: none;
    border: none;
    height: 50px;
    width: 100px;
    text-align: center;
    font-family: 'bookmaniaregular', 'Times New Roman', Times, serif;
    font-size: 24px;
    justify-content: center;
    background-color: #9ab1bd;
    color: #FFFFFF;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button:focus {
    outline: 0;
}

.button-container {
    text-decoration: none;
    border: none;
    text-align: center;
    justify-content: center;
    font-family: 'bookmaniasemibold_italic', 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 180px;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
    display: block;
    margin: 20px auto 50px auto;
}

button:focus {
    outline:0;
}

h4 {
    font-family: 'bookmaniasemibold', 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 100%;
    cursor: default;
}

.logo {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #4d636e;
}

h5 {
    font-family: 'bookmaniasemibold_italic', 'Times New Roman', Times, serif;
    font-size: 36px;
    line-height: 100%;
    cursor: default;
    width: 600px;
    text-align: center;
    display: flex;
    justify-self: right;
    margin: 100px auto 0px auto;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: inline-block;
    padding-left: 10px;
}

/* Generator */

.container {
    display: flex;
    flex-direction: row;
    flex: 1 1 1 1;
    align-items: stretch;
    margin: 0px 15px 15px 15px;
}

.list {
    font-family: 'bookmaniaregular';
    font-size: 24px;
    color: #2b2b2b;
    cursor: default;
}

.download-btn {
    background-color: #9ab1bd;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'bookmaniasemibold_italic', 'Times New Roman', Times, serif;
    border-radius: 30px;
    display: block;
    margin: 50px auto 50px auto;
    width: 180px;
    height: 60px;
    justify-content: center;
    text-align: center;
  }

  .download-btn:hover {
    background-color: #4d636e;
  }

@media screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
        line-height: 120%;
        margin: 100px auto 0px auto;
        width: 90%;
    }

    .input-container {
        float: center
    }

    .button-container {
        float: center
    }

    h2 {
        font-size: 18px;
        width: 130px;
        margin: none;
    }

    h5 {
        margin: none;
        font-size: 18px;
        width: 200px
    }


    th {
        font-size: 24px;
    }

    table {
        font-size: 14px;
    }

}