body {
    background-color: white;
    width: 100%;
  
}
.container {
  position: relative;
  margin: auto;
  height: 1200px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: inherit;
  text-align: center;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: inherit;
  margin-left: 5%;
  width: 1500px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
}

  .napkin-style {
    position: absolute;
    top: 230px;
    left: 1000px;
    display: block;
    width: 200px;
    height: auto
  }

  .bowl-style {
    position: absolute;
    top: 200px;
    left: 700px;
    display: block;
    width: 250px;
    height: auto
  }

  .wine-glass-style {
    position: absolute;
    top: 100px;
    left: 400px;
    display: block;
    width: 300px;
    height: auto
  }

  .plate-style {
    position: absolute;
    top: 400px;
    left: 680px;
    display: block;
    width: 300px;
    height: auto
  }

  .knife-style {
    position: absolute;
    top: 450px;
    left: 1000px;
    display: none;
    width: 230px;
    height: auto
  }

  .fork-style {
    position: absolute;
    top: 450px;
    left: 500px;
    display: none;
    width: 150px;
    height: auto
  }
