html {
  background-color: lightblue;
  ;
}

body {
  background-color:lightblue;
  width: 100%;
}

p {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  color: green
}

h1 {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 30px;
  color:blue;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 20px;
  color:blue;
  justify-content: center;
  text-align: center;
}

.wrapper {
  height: 300px;
  width: 1680px;
  background-color: lightblue;
  ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.shape {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#circle {
  width: 60px;
  height: 60px;
  background: greenyellow;
  border-radius: 50%
}

#oval {
  width: 100px;
  height: 60px;
  background: greenyellow;
  border-radius: 50px / 30px;
}

#capsule {
  width: 130px;
  height: 60px;
  background: greenyellow;
  border-radius: 60px;
}
  
#square {
  width: 60px;
  height: 60px;
  background: greenyellow;
  border-radius: 20px;
}

#rectangle {
  width: 120px;
  height: 60px;
  background: greenyellow;
  border-radius: 20px;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid greenyellow;
}

#octagon {
  width: 55px;
  height: 70px;
  background: greenyellow;
  position: relative;
}
#octagon:before {
  content: "";
  width: 25px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 15px solid greenyellow;
  border-left: 15px solid ightblue;
  border-right: 15px solid ightblue;
}
#octagon:after {
  content: "";
  width: 25px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 15px solid greenyellow;
  border-left: 15px solid lightblue;
  border-right: 15px solid lightblue;
}

#diamond {
    width: 40px;
    height: 90px;
    background-color: greenyellow;
    transform: skew(45deg) rotate(70deg);
}

/* .pills {
  z-index: 9;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}  */

.circle {
  position: absolute;
  /* top: 200px;
  left: 1000px; */
  display: block;
  width: 100px;
  height: auto
}

.oval {
  position: absolute;
  /* top: 200px;
  left: 50px; */
  display: block;
  width: 130px;
  height: auto
}

.square {
  position: absolute;
  /* top: 200px;
  left: 500px; */
  display: block;
  width: 100px;
  height: auto
}

.rectangle {
  position: absolute;
  /* top: 200px;
  left: 700px; */
  display: block;
  width: 140px;
  height: auto
}

.capsule {
  position: absolute;
  /* top: 200px;
  left: 200px; */
  display: block;
  width: 140px;
  height: auto
}

.triangle {
  position: absolute;
  /* top: 200px;
  left: 300px; */
  display: block;
  width: 100px;
  height: auto
}

.diamond {
  position: absolute;
  /* top: 200px;
  left: 600px; */
  display: block;
  width: 120px;
  height: auto
}

.octagon {
  position: absolute;
  /* top: 200px;
  left: 900px; */
  display: block;
  width: 120px;
  height: auto
}
