html {
	margin: 0 15% 0 15%;
	font-size: 100%;
	font-family: Roboto, sans-serif;
	line-height: 1.6;
	background-image: linear-gradient(#F6CEAC, #F7B7C1, #EAC5D7);
}

a:link {
	color:#131313;
}

a:hover {
	color:#dfdfdf;
}

a:visited {
	color: #131313;
}

a:active {
	color: #131313;
}

.container {
    display: flex;
	flex-direction: column;
}

.responsive {
    max-width: 70%;
    height: auto;
}