/* Full Website */ 
html {
    box-sizing: border-box;
    background: #e6ddc5;
    font-family: Helvetica, Arial, sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Row 1: Month Title */ 

.container {
    margin: 10px
}

h1 {
    font-size: 20pt;
}

.march {
    font-size: 60pt;
}

/* Row 2: Grid */      

h2 {
    font-size: 12pt;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px
}

.weekday {
    width: 14.28%;
    height: auto;
    background-color: rgb(255, 253, 244);
    padding: 0.5%;
    text-align: center;
}

.unit {
    width: 14.28%;
    height: 200px;
    background-color: rgba(252, 247, 225, 0.842);
    padding: 0.5%;
    text-align: center;
    border-radius: 50px;
}

.events {
    background: rgb(255, 255, 255);
}